html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Russo One", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.background {
  height: 500vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  pointer-events: none;
  user-select: none;
}

.head {
  position: absolute;
  right: 32px;
  left: 40px;
  top: -150px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  scale: 0.3;
  left: -170px;
  pointer-events: none;
  user-select: none;
}

.logo-button:hover {
  cursor: pointer;
}

.logo-button {
  width: 150px;
  height: 150px;
}

.blog {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  height: 350%;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 10%;
}

.blog-container-1 {
  position: absolute;
  top: 2%;
  left: 15%;
  width: 70%;
  height: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
}

.blog-content {
  position: absolute;
  left: 10%;
}

.blog h1 {
  font-size: 350%;
}

.headline {
  color: rgb(14, 48, 121);
}

.blog h1 a {
  font-size: 50%;
  color: rgb(51, 85, 158);
}

.blog h1 span {
  font-size: 50%;
  color: rgb(51, 85, 158);
}

.profile-picture {
  position: absolute;
  scale: 25%;
  border-radius: 50%;
  top: -30%;
  left: 76%;
}

.profile-picture img {
  border-radius: 50%;
}

.profile-picture {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(0, 86, 216, 0.842);
}

.profile-picture:hover {
  cursor: pointer;
}

.html-output h1 {
  font-size: 200%;
}

.html-output p {
  font-size: 100%;
  color: black;
}
