.button1{
  font-size: large;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  position: relative;
  font-size: 60px;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  font-weight: bold;
  vertical-align: top;
  top: -130;
  left: 100;
}

body {
  background-color: #6a99c0;
}

container {
  position: relative;
}

#following-image {
  position: absolute;
  pointer-events: none; /* Ensures the image doesn't interfere with mouse interactions */
}